html {
  background-color: darkgrey;
}
img {
  float: right;
}

p {
  font-family: "Times New Roman", Georgia, Serif;
  text-align: left;
  display: flex;
  border: 100px;
  padding: inherit;

}
body {
  background-color: #ada390;
  border-spacing: inherit;

}
